<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>成都中亚通茂科技有限公司</title>
	<link type="text/css" href="__PUBLIC__/stylesheets/admin/bootstrap.min.css" rel="stylesheet">
	<script type="text/javascript" src="__PUBLIC__/javascripts/admin/jquery-2.1.1.js" ></script>
	<link type="text/css"  href="__PUBLIC__/stylesheets/admin/style.css" rel="stylesheet"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		
	 <div class="container " >
        <!-- header -->
        <include file="Common/header" />

        <!-- main -->
        <div class="mainBody">
            <!-- left -->
            <include file="Common/left" />
            <!-- right -->
            <div id="Right">
                {__CONTENT__}
            </div>
        </div>
        <div class="clear"></div>

        <!-- footer -->
        <include file="Common/footer" />
    </div>
    <script type="text/javascript" src="__PUBLIC__/javascripts/admin/admin.js" ></script>
</body>
</html>



