<div id="main">
	
	<table class="table">
              <tr>
                <td>产品信息</td>
                <td>产品简介</td>
                <td>备注</td>
              </tr>
		<volist name="goodsInfo" id="goods" >
              <tr>
                <td><a href="{:U('/Goods/DisplayProduct')}?goodsName={$goods.goods_name}">{$goods.goods_name}</a></td>
                <td>{$goods.goods_info}</td>
                <td><a href="{:U('/Goods/EditProduct')}?goodsName={$goods.goods_name}">编辑</a></td>
              </tr>
        </volist>
     </table>

<div class="pageli">
	<ul class="pagination"> 	
		<li ><a href="{:U('/Goods/CheckProductInfo')}?page={$pageSta-1}">&laquo;</a></li>
	 	<volist name='page' id='page' >
			<li ><a href="{:U('/Goods/CheckProductInfo')}?page={$page}">{$page}</a></li>				
		</volist>
		 <if condition="$pageSta+1 gt $pageEnd ">
			<li><a href="{:U('/Goods/CheckProductInfo')}?page={$pageEnd}">&raquo;</a></li>
				<else /> 
		<li><a href="{:U('/Goods/CheckProductInfo')}?page={$pageSta+1}">&raquo;</a></li>
		</if>

		  
	</ul>
</div>
</div>
