<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>成都中亚通茂科技股份公司</title>
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link href="__PUBLIC__/stylesheets/home/bootstrap.min.css" rel="stylesheet"/>
		<script src="__PUBLIC__/javascripts/home/jquery-2.1.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/javascripts/home/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<link href="__PUBLIC__/stylesheets/home/style.css" rel="stylesheet" />
	</head>
	<body>
		<div class="container">
			<div class="blog-masthead">
	        	<nav class="blog-nav">
	        	  <volist name="goods" id="GoodsClass">		
		         	<div class="blog-nav-item">
		         		<a id="goodsclass" href="{:U('/GoodsDisplay/Index')}?GoodsClassName={$GoodsClass.goods_name}">{$GoodsClass.goods_name}</a>
		         	</div>
		          </volist>
	            </nav>
	      	</div>
	      	<div>
	      	<volist name="goodsinfo" id="goods">
	      		<div class="row">
	      			<div class="col-xs-11"><p>{$goods.goods_name}</p></div>
	      			<div class="col-xs-1"><a>更多</a></div>
	      		</div>
	      		<IF condition="($goodsInfo.goods)">
	      			
	      		</IF>
	      	</volist>
      		</div>
    </div>
	</body>
</html>
