<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>成都中亚通茂科技股份公司</title>
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link href="__PUBLIC__/stylesheets/home/bootstrap.min.css" rel="stylesheet"/>
		<script src="__PUBLIC__/javascripts/home/jquery-2.1.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/javascripts/home/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<link href="__PUBLIC__/stylesheets/home/style.css" rel="stylesheet" />
	</head>
	<body>
		<div class="container-fluid">
			<div class="blog-masthead">
	        	<nav class="blog-nav">
	        	  <volist name="goods" id="GoodsClass">		
		         	<div class="blog-nav-item">
		         		<a id="goodsclass" href="{:U('/GoodsDisplay/goodsClassDisplay')}?GoodsClass={$GoodsClass.goods_name}">{$GoodsClass.goods_name}</a>
		         	</div>
		          </volist>
	            </nav>
	      	</div>
	      	<div>	
	      	<foreach name="goodsinfo" item="goods">
				<div class="row">
	      			<div class="col-xs-10"><p><b>{$goods.goods_name}</b></p></div>
	      			<div class="col-xs-2"><a href="{:U('/GoodsDisplay/goodsDisplay')}?GoodsClass={$goods.goods_name}">更多</a></div>
	      		</div>    		
	      		<assign name="var" value="$goods.child.goods" />
	      		<IF condition="sizeof($var) neq 0"> 
	      			<foreach name="var" item="childGoods">
	      				<div class="row">
	      					<p class="text-center">{$childGoods.goods_name}:</p>
	      				</div>
	      				<div class="row" >  			
							<div class="col-xs-10">
							<a href="{:U('/GoodsDisplay/goodsInfo')}?GoodsName={$childGoods.goods_name}"><img alt="Responsive image" src="__PUBLIC__/Uploads_SN/{$childGoods.goods_preview_image_path}" class="img-responsive img-thumbnail img-rounded center-block">
  							</a>
							</div>
  							<div class="col-xs-2"></div>
	      				</div>
	      			
	      			</foreach>	
	      		</IF>
			</foreach>
      		</div>
    </div>
	</body>
</html>
