<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <style>
            html,body{
                padding:0;
                margin:0;
            }
            td{
            	border: 1px black solid;
            }
            #preview *{font-family:sans-serif;font-size:16px;}
        </style>
        <link rel="stylesheet" href="__PUBLIC__/Ueditor/themes/default/css/ueditor.min.css" />
		<link href="__PUBLIC__/stylesheets/home/bootstrap.min.css" rel="stylesheet"/>
		<script src="__PUBLIC__/javascripts/home/jquery-2.1.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/javascripts/home/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" src="__PUBLIC__/Ueditor/ueditor.config.js"></script>
		<script type="text/javascript" src="__PUBLIC__/Ueditor/ueditor.all.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Ueditor/internal.js"></script>
        <script src="__Public/ ueditor.parse.js"></script>
        <title></title>
    </head>
    <body class="view">
        <div class="container">
        <div class="row">
        	<div class="col-xs-1"></div>
        	<div class="col-xs-10">
        		{$goodsinfo}
        	</div>
        	<div class="col-xs-1"></div>
        </div>
        	</div>
    </body>
</html>