<div id="main">
    <label  >产品名称:</label>
        <input class="form-control" id="goods_name" type="text" />
            <label >所属产品:</label>
               <select class="form-control">
               		<volist name="Authlist" id="auth">
						<option style="width: 175px;">{$auth.goods_name}</option>
					</volist>
               </select>
   <label>产品简介</label>
   		<input class="form-control" id="goods_info"  type="text"/>
</div>
<br>
<div style="text-align: center;size: 100px;font: '微软雅黑';">
		产品描述信息
</div>
<div  id="content"  style="position: relative; width:80%;height=70%; left: 15%;
	right: 10%;">
	<script id="container" name="content" type="text/plain">
       	编写产品信息
	</script>
</div>

<div  style="position: relative;left: 15%; margin-top: 30px;" >
	<button class="btn btn-primary" id="CommitInfoDb" style="width: 80%;">确      认</button>
</div>

<script type="text/javascript" src="__PUBLIC__/Ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/Ueditor/ueditor.all.js"></script>
<script type="text/javascript">
   //编辑器实例
   var ue = UE.getEditor('container', {
		"initialFrameWidth" : "100%",   // 宽
		"initialFrameHeight" :"200px",  // 高
		"maximumWords" : 100000    
	});

	$('#CommitInfoDb').on('click',function(){
		var html = ue.getAllHtml();
		var goodsId = $('select').val();
		var goodsName = $('#goods_name').val();
		var goodsInfo = $('#goods_info').val();
		console.log(html);
		$data = {"pageInfo":encodeURI(html),"goodsName":goodsName,"goodsId":goodsId,"goodsInfo":goodsInfo};
		$.ajax({
			type:"post",
			url:"{:U('Home/Goods/AddProductToDb')}",
			dataType:"json",
			data:$data ,
			beforeSend:function(){},
			success:function(callbackData){
				alert('添加产品:'+callbackData.RequstInfo);
          	 }
			,
		error:function(callbackData){
			//console.log(callbackData);	
		}
		
		});
    	
	});

</script>


	
	
