	<div class="row"><br><br><br></div>
	<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-10">
		<form action="" class="form" method=""></form>
	   <label  >产品类名称:</label>
    	<input class="form-control" id="goods_name" name="goods_name" type="text" />
		<label >所属产品:</label>
    	<select class="form-control" name="goods_id">
    		<option style="width: 175px;">顶层产品类</option>
        	<volist name="Authlist" id="auth">
				<option style="width: 175px;">{$auth.goods_name}</option>
			</volist>
    	</select>
		<label>产品类简介:</label>
		<textarea value="" class="form-control"></textarea>
	</div>
	</div>
	<div class="row">
		<br><br>
	</div>
	<div class="row">
			<div class="col-md-4">
			</div>
		<div class="col-xs-3">
			<button id="btqr" class="btn btn-primary">确认提交</button>
		</div>
		<div class="col-xs-2"></div>
		<div class="col-xs-3">	
			<button id='btqx' class="btn btn-primary ">取消提交</button>
		</div>
	</div>
<script >
	$(function(){
		$('#btqr').click(function(){
			var productName = $('input').val();
			var productDes  = $('textarea').val();
			var productPri  = $('select').find("option:selected").text();
			if(!productDes||!productName){
				alert("产品名称或产品简介不能为空");
				return false;
			}
			//var data = {"productName:"+productName+"","+"productDes:"+productDes};
			//var data=new Array();
			
			//data['productName'] = productName ;
			//var data= productDes;
			var data = {"productPri":productPri,"productName":productName,"productDes":productDes};
			console.log(data);
			var url = "{:U('Home/Goods/AddProductClassToDb')}";
			$.ajax({
			type:"POST",
			url:url,
			dataType:"json",
			data:data,
			beforeSend:function(){},
			success:function(callbackData){	

			 	if(callbackData.RequstStation){
			 		
			 		$('#addStation').html('<span  style="color: green;size:b5; right: 200px;">'+callbackData.RequstInfo+'</span>');
			 	}else{
			 		
			 		$('#addStation').html('<span  style="color: red;size:b5; right: 200px;">'+callbackData.RequstInfo+'</span>');
			 	}
          	 }
			,
		error:function(callbackData){
			//console.log(callbackData);
			}
		});
		})
		
		$('#btqx').click(function(){
			window.location = "{:U('Home/Home')}";
		});
		
	})
	
	
	
</script>