<div  id='main'>
	<table class="table">
	<tr>
		<td width="13%">全选/全不选<input type="checkbox"  value="" id="SelectAllBox" onchange="SelectAllCheckBox();"/></td>
		<td>名字</td>
        <td>权限</td>
        <td>邮箱</td>
        <td>编号</td>
		<td>创建时间</td>
        <td>上次登录时间</td> 
        <td>备注</td>
	</tr>
	<volist name="UserInfo" id="User">
		<tr>
			<td>
				<input  type="checkbox"/>
			</td>
            <td>{$User.manage_name}</td>
            <td>{$User.manage_role}</td>
            <td>{$User.manage_email}</td>
            <td>{$User.manage_id}</td>            
            <td>{$User.manage_create_date}</td>
            <td>{$User.manage_update_date}</td> 
            <td> <a id="editauth" href="{:U('/User/EditUserInfo')}">编辑</a></td>     
    	</tr>
	</volist>
 </table>
 <button class="btn btn-primary" id="DelUser">删除管理员</button>
<button class="btn btn-primary" onclick="AddManage();">新增管理员</button>
</div>
<div id="light" class="white_content">
	<form class="form-horizontal">
		 <fieldset>
            <legend>配置数据源</legend>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="ds_username">用户名:</label>
                <div class="col-sm-4">
                 <input class="form-control" id="ds_username" type="text" />
                </div>
                <label class="col-sm-2 control-label" for="ds_email">登录邮箱:</label>
                <div class="col-sm-4">
                  <input class="form-control" id="ds_email" type="text" placeholder="@zytm.com"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="ds_passwd">登录密码:</label>
                <div class="col-sm-4">
                 <input class="form-control" id="ds_passwd" type="password" placeholder="***"/>
                </div>
                <label class="col-sm-2 control-label" for="ds_qrpasswd">确认密码:</label>
                <div class="col-sm-4">
                 <input class="form-control" id="ds_qrpasswd" type="password" placeholder="***"/>
                </div>
               </div>
        </fieldset>     
	</form>  	
	<div id="requstInfo"></div>
  	<button class="btn btn-primary btn-block" id="AddUser" >提交信息</button>
</div> 
<div id="fade" class="black_overlay"> 
</div> 

<script>
//添加管理提交数据到服务器
$(function(){
	//提交数据到服务器
	$('#AddUser').click(function(){
		//获取数据
		var user_name = $('#ds_username').val();
		var user_email = $('#ds_email').val();
		var user_passwd = $('#ds_passwd').val();
		var user_qrpasswd = $('#ds_qrpasswd').val();
		if(user_passwd!=user_qrpasswd){
			$('#requstInfo').html('<span style="color: red;">两次密码不一致</span>');
			return false;
		}
		//判断未输入邮箱和密码的情况
		if(user_name==""||user_email==""||user_passwd==""){
			$('#requstInfo').html('<span style="color: red;">邮箱或者用户名或者密码为空</span>');
			return false;
		}
		//拼接数据
		var data={"user_name":user_name,"user_email":user_email,"user_passwd":user_passwd};
		//将提交数据通过ajax提交给服务器
		
		var url = "{:U('/User/AddManage/')}";
		$.ajax({
			type:"post",
			url:url,
			data:data,
			success:function(callbackdata){
				if(callbackdata.RequstStation){
					//console.log(callbackdata);
					$('#requstInfo').html('<span style="color: green;">添加成功</span>');
					//ManageInfo();
					setTimeout(ManageInfo,1000);
					 window.location.reload();
				}else{
					$('#requstInfo').html('<span style="color: red;">'+callbackdata.RequstInfo+'</span>');
				}
			},
			error:function(callbackdata){
				console.log('失败');
			}
		});
	});
	//绑定删除管理员事件
	$('#DelUser').on('click',function(){
		//获取div选中情况
		var json=new Array();// 定义一个数组对象
		var id = 0;
		$('input').not(1).each(function(){
			 if($(this).is(':checked')){
			 	//获取当前列表的各项数据值
			 	//邮箱-用户名
			 	var test={"UserName":$(this).parent().next().text(),"UserEmail":$(this).parent().next().next().next().text()};// 增加一个新属性，此属性是数组
				json.push(test);
			 }
		});
		$url = "{:U('/User/DelUser')}";
		
		//发送数据到服务端
		$.ajax({
			type:"post",
			url:$url,
			data:{"DelUserInfo":json},
			success:function(callbackdata){
				  window.location.reload();
			},
			error:function(callbackdata){
				console.log(callbackdata);
			}
		});
	});
})

//添加管理员，弹出Div
function AddManage(){
	document.getElementById('light').style.display='block';
	document.getElementById('fade').style.display='block';
}
//隐藏div
function ManageInfo(){
	document.getElementById('light').style.display='none';
	document.getElementById('fade').style.display='none'
	
}
//全选按钮
function SelectAllCheckBox(){
	//权限按钮checkbox
	//判断该复选框是否选中
	//$('#CheckBox').is(':checked')
	if(true == $('#SelectAllBox').is(':checked')){
		$('input').each(function(){
			 $(this).prop("checked",true);
		})
	}else{
		$('input').each(function(){
			//设置复选框状态
			 $(this).prop("checked",false);
		})
	}
}
</script>