   <div class="my-bg">
   <div class="container">

      <form class="form-signin"  method="post" action="{:U('Home/Index/CheckLoginfo')}">
        <h2 class="form-signin-heading text-center">中亚微信后台管理</h2>
        <label for="inputEmail" class="sr-only">email</label>
        <input type="email" id="inputEmail" name="login_email"  class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" name="login_passwd" id="inputPassword" class="form-control" placeholder="Password" required>
        <input type="text" name="code" id="inputcode" class="form-control" placeholder="验证码" required/>
        <img width="48%" id="yzm" class="left15" height="50" alt="验证码" src="{:U('Home/Index/Verify',array())}" title="点击刷新">
        <button class="form-control btn-primary" type="submit">登录</button>
        <button class="form-control btn-primary" >忘记密码</button>
      </form>
	 </div> <!-- /container -->
 </div>
 